<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="support-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Perlu <strong>BANTUAN?</strong> Hubungi Kami: <strong>0274 - 2885822</strong></h3>
                </div>
                <div class="vertical-divider"></div>
                <div class="col-md-3">
                    <a class="btn btn-lg btn-chat" href="#">
                        <i class="bi bi-chat-left"></i> Live Chat </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>HUBUNGI KAMI</h4>
                    <p> 0274-2885822<br> Senin - Minggu<br> 24 Jam Non Stop<br><br> Jl. Selokan Mataram Monjali<br> Karangjati MT I/304<br> Sinduadi, Mlati, Sleman<br> Yogyakarta 55284<br>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>LAYANAN</h4>
                    <ul>
                        <li><a href="#">Domain</a></li>
                        <li><a href="#">Shared Hosting</a></li>
                        <li><a href="#">Cloud VPS Hosting</a></li>
                        <li><a href="#">Managed VPS Hosting</a></li>
                        <li><a href="#">Web Builder</a></li>
                        <li><a href="#">Keamanan SSL / HTTPS</a></li>
                        <li><a href="#">Jasa Pembuatan Website</a></li>
                        <li><a href="#">Program Afiliasi</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>SERVICE HOSTING</h4>
                    <ul>
                        <li><a href="#">Hosting Murah</a></li>
                        <li><a href="#">Hosting Indonesia</a></li>
                        <li><a href="#">Hosting Singapore SG</a></li>
                        <li><a href="#">Hosting PHP</a></li>
                        <li><a href="#">Hosting WordPress</a></li>
                        <li><a href="#">Hosting Laravel</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>TUTORIAL</h4>
                    <ul>
                        <li><a href="#">Knowledgebase</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Cara Pembayaran</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>TENTANG KAMI</h4>
                    <ul>
                        <li><a href="#">Tim Niagahoster</a></li>
                        <li><a href="#">Karir</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Penawaran & Promo Spesial</a></li>
                        <li><a href="#">Kontak Kami</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>KENAPA PILIH NIAGAHOSTER?</h4>
                    <ul>
                        <li><a href="#">Support Terbaik</a></li>
                        <li><a href="#">Garansi Harga Termurah</a></li>
                        <li><a href="#">Domain Gratis Selamanya</a></li>
                        <li><a href="#">Datacenter Hosting Terbaik</a></li>
                        <li><a href="#">Review Pelanggan</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>NEWSLETTER</h4>
                    <form>
                        <div class="custom-search">
                            <input type="text" class="custom-input" placeholder="Email">
                            <button class="custom-input-botton" type="submit">Berlangganan</button>
                        </div>
                    </form>
                    <p class="payment-text">Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.</p>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>PEMBAYARAN</h4>
                    <ul class="logo-bank">
                        <li>
                            <img src="assets/img/bank/logo-bca-bordered.svg" data-src="assets/img/bank/logo-bca-bordered.svg" alt="bank bca" class="bank-logo">
                        </li>
                        <li>
                            <img src="assets/img/bank/mandiriclickpay.svg" data-src="assets/img/bank/mandiriclickpay.svg" alt="mandiri clickpay" class="bank-logo">
                        </li>
                        <li>
                            <img src="assets/img/bank/logo-bni-bordered.svg" data-src="assets/img/bank/logo-bni-bordered.svg" alt="bank bni" class="bank-logo">
                        </li>
                        <li>
                            <img src="assets/img/bank/visa.svg" data-src="assets/img/bank/visa.svg" alt="visa" class="bank-logo">
                        </li>
                        <li>
                            <img src="assets/img/bank/mastercard.svg" data-src="assets/img/bank/mastercard.svg" alt="master card" class="bank-logo">
                        </li>
                        <li>
                            <img src="assets/img/bank/atmbersama.svg" data-src="assets/img/bank/atmbersama.svg" alt="atm bersama" class="bank-logo">
                        </li>
                        <li>
                            <img src="assets/img/bank/permatabank.svg" data-src="assets/img/bank/permatabank.svg" alt="bank permata" class="bank-logo">
                        </li>
                        <li>
                            <img src="assets/img/bank/prima.svg" data-src="assets/img/bank/prima.svg" alt="prima" class="bank-logo">
                        </li>
                        <li>
                            <img src="assets/img/bank/alto.svg" data-src="assets/img/bank/alto.svg" alt="alto" class="bank-logo">
                        </li>
                    </ul>
                </div>
                <div class="col-md-12" style=" margin-top: 10px">
                    <span class="payment-text">Aktivasi instan dengan e-Payment. Hosting dan domain langsung aktif!</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright container py-4">
        <div class="row">
            <div class="col-md-9">
                <div class="copyright"> Copyright &copy;2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta<br> Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology </div>
            </div>
            <div class="col-md-3">
                <div class="copyright"> Syarat dan Ketentuan | Kebijakan Privasi </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->