<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <img src="assets/img/logo.png" class="logo">
        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <a class="nav-link" href="#">Hosting</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Domain</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Server</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Website</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Afiliasi</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Promo</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Pembayaran</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Review</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Kontak</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Blog</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->