<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-bookmark-star-fill"></i> Gratis Ebook 9 Cara Cerdas Menggunakan Domain [x]
        </div>
        <div class="contact-info d-md-flex align-items-center">
            <a href=""><i class="bi bi-telephone-fill d-flex align-items-center ms-4"><span> 0274-5305505</span></i></a>
            <a href=""><i class="bi bi-chat-left-fill d-flex align-items-center ms-4"><span> Live Chat</span></i></a>
            <a href=""><i class="bi bi-person-circle d-flex align-items-center ms-4"><span> Member Area</span></i></a>
        </div>
    </div>
</section>