/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
    font-family: 'Montserrat-light';
    src: url('fonts/montserrat/Montserrat-Light.otf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/montserrat/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('fonts/nunito/NunitoSans-Regular.ttf');
}

body {
    font-family: "NunitoSans-Regular";
    color: #444444;
}

a {
    color: #106eea;
    text-decoration: none;
}

a:hover {
    color: #3b8af2;
    text-decoration: none;
}

NunitoSans-Regular h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-light";
    margin-bottom: 15px;
}

.font-bold {
    font-weight: 400;
    font-family: Montserrat-Bold;
}

.bi-check::before {
    margin-bottom: 2px;
    font-size: 18px;
}

.bi-check::after {
    margin-right: 5px;
}

.check-background {
    background: #00B348;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 0 2px 0 2px;
    color: white;
}

.custom-search {
    position: relative;
    width: 300px;
}

.custom-input {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}

.custom-input-botton {
    position: absolute;
    right: 33px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #3498db;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
}

.title {
    text-align: center;
    padding-bottom: 30px;
}

.vertical-divider {
    border-right: 1px solid #fff;
    width: 1px;
    height: 50px;
}

.divider {
    width: 90px;
    height: 5px;
    background: #f5f5f5;
    margin: 0 auto;
}

.btn-info-lg {
    background: #288eea;
    color: #fff;
    padding: 12px 32px;
    border-radius: 35px;
    font-family: Montserrat-Bold, sans-serif;
    margin-top: 25px;
}

.btn-info-lg:hover {
    color: #fff;
    background: #007FDE;
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (max-width: 768px) {
    .custom-search {
        margin: auto;
        display: block;
    }

    .custom-search input button {
        float: none;
        text-align: center !important;
        padding: 2px 0;
    }

    .vertical-divider {
        display: none;
    }

    .logo {
        width: 35% !important;
    }

    #topbar {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none !important;
    }

    .custom-input-botton {
        right: 18px !important;
    }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #106eea;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #106eea;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #3284f1;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #fff;
    height: 50px;
    font-size: 14px;
    transition: all 0.5s;
    color: #4c4c4c;
    padding: 0;
}

#topbar .contact-info i {
    font-style: normal;
    color: #4c4c4c;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
    padding-left: 5px;
    color: #4c4c4c;
}

#topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
    transition: 0.3s;
}

#topbar .contact-info i a:hover {
    color: #fff;
    text-decoration: underline;
}

#topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

#topbar .social-links a:hover {
    color: white;
}

#topbar .bi-bookmark-star-fill:before {
    color: blue;
    padding: 3px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
    height: 70px;
}

#header .logo {
    /*font-size: 30px;*/
    margin: 0;
    width: 17%
        /*padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;*/
}

#header .logo a {
    color: #222222;
}

#header .logo a span {
    color: #106eea;
}

#header .logo img {
    max-height: 40px;
}

.scrolled-offset {
    margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #7a7a7a;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #106eea;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover>a {
    color: #106eea;
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #222222;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #106eea;
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #106eea;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f6f9fe;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}

.section-title h3 {
    margin: 15px 0 10px 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title h3 span {
    color: #106eea;
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .section-title p {
        width: 50%;
    }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    padding: 40px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}

.services .icon-box img {
    max-width: 20%;
    height: auto;
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #f1f6fe;
    border-radius: 4px;
    border: 1px solid #deebfd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
    color: #3b8af2;
    font-size: 28px;
    transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: #222222;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);
}

.services .icon-box:hover h4 a,
.services .icon-box:hover .icon i {
    color: #106eea;
}

.services .icon-box:hover .icon {
    border-color: #106eea;
}

@media (max-width: 768px) {
    .services .icon-box {
        padding: 20px 20px !important;
    }
}

/*--------------------------------------------------------------
# Section 1
--------------------------------------------------------------*/
#section-1 {
    padding-top: 45px;
}

#section-1 ul {
    margin: 0;
    padding: 0;
}

#section-1 li {
    list-style: none;
    margin-bottom: 8px;
}

#section-1 {
    border-bottom: 1px solid #f2f2f2;
}

#section-1 i {
    margin-right: 5px;
}

#section-1 img {
    max-width: 90%;
    height: auto;
}

@media (max-width: 768px) {

    #section-1 h1,
    h2,
    ul {
        text-align: center;
    }

    #section-1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/*--------------------------------------------------------------
# Section 2
--------------------------------------------------------------*/
#section-2 {
    padding-top: 0;
    padding-bottom: 5px;
}

.php-feature {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .image-box {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.image-box {
    height: 210px;
    width: 200px;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
    margin-left: auto;
    margin-right: auto;
}

.image-box:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-box img {
    /*background: #3A6F9A;*/
    vertical-align: middle;
    max-height: 180px;
    max-width: 200px;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
    padding: 20px 0 20px 0;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    overflow: hidden;
}

.pricing .box p {
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    padding-top: 10px;
}

#pricing .row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pricing .box h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    background: #f8f8f8;
    font-size: 24px;
    line-height: 10px;
    font-family: Montserrat-Bold !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #4d4d4d;
}

.pricing .box h4 {
    font-size: 48px;
    color: #4d4d4d;
    font-weight: 600;
    margin-bottom: 0px;
    font-weight: 400;
    font-family: Montserrat-Bold;
    border-bottom: 1px solid #f2f2f2;
}

.pricing .box h4 sup {
    font-size: 16px;
    top: -20px;
    left: -3px;
}

.pricing .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.pricing .box h6 {
    text-decoration: line-through;
    margin-bottom: 5px;
}

.pricing .box ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing .box ul li {
    padding-bottom: 6px;
}

.pricing .box .highlight-desc {
    padding-bottom: 10px !important;
}

.pricing .box ul i {
    color: #106eea;
    font-size: 18px;
    padding-right: 4px;
}

.pricing .btn-wrap {
    margin: -10px -20px -10px -20px;
    padding: 20px 15px;
    text-align: center;
}

.pricing .btn-buy {
    border: 2px solid #000 !important;
    color: #000 !important;
    padding: 6px 25px !important;
    border-radius: 35px;
    font-weight: bold;
}

.pricing .featured .btn-buy {
    border: 2px solid #288eea !important;
    color: #fff !important;
    padding: 6px 25px !important;
    border-radius: 35px;
    font-weight: bold;
    background: #288eea;
}

.pricing .btn-buy:hover {
    background: #f2f2f2;
}

.pricing .featured .btn-buy:hover {
    background: #007FDE;
}

.pricing .featured h3 {
    color: #fff;
    background: #008FEE;
}

.pricing .featured {
    border: 1px solid #008FEE !important;
}

.pricing .featured .highlight {
    color: #fff;
    background: #008FEE;
}

.pricing .featured-ribbon:before {
    position: absolute;
    content: '';
    top: -8px;
    left: -8px;
    background: url(best-seller.png) left top no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px
}

.pricing .featured .highlight p {
    color: #fff;
    background: #007FDE;
}

.pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #106eea;
    color: #fff;
}

@media (max-width: 768px) {
    .pricing {
        padding: 20px;
    }
}

.limit-php table {
    max-width: 80%;
}

@media (max-width: 768px) {
    .limit-php table {
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }
}

/*--------------------------------------------------------------
# Share
--------------------------------------------------------------*/
.share {
    padding: 25px 0;
    background: #f7f7f7;
}

.share span {
    border: 1px solid #cecece;
    padding: 2px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .social-media {
        text-align: center;
    }
}

.support-banner i {
    margin-right: 5px;
}

.support-banner h3 strong {
    font-weight: 400;
    font-family: Montserrat-Bold;
}

/*--------------------------------------------------------------
# PHP Modul
--------------------------------------------------------------*/
#php-modul ul {
    list-style: none;
    padding-left: 90px;
    padding-bottom: 30px;
}

#php-modul a {
    border: 2px solid #000 !important;
    color: #000 !important;
    padding: 6px 25px !important;
    border-radius: 35px;
}

#php-modul a:hover {
    background: #f2f2f2;
}

@media (max-width: 768px) {
    #php-modul ul {
        text-align: center !important;
        padding-left: 0px !important;
    }
}

/*--------------------------------------------------------------
# Laravel
--------------------------------------------------------------*/
.laravel p {
    font-size: 19px;
    font-family: Montserrat-Light !important;
}

.laravel ul {
    list-style: none;
    padding: 0;
}

.laravel ul li {
    margin-bottom: 10px;
}

.laravel span {
    font-size: 14px;
    margin-bottom: 20px;
}

.laravel img {
    max-width: 90%;
    height: auto;
}

@media (max-width: 768px) {
    .laravel img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .laravel a {
        margin: 20px auto;
        display: table;
    }

    .laravel p {
        text-align: center;
    }

    .laravel .span {
        margin-bottom:
    }
}

/*--------------------------------------------------------------
# LVE
--------------------------------------------------------------*/
.lve .btn-info-lg {
    margin-top: 0px;
}

.lve img {
    max-width: 100%;
    height: auto;
    "

}

@media (max-width: 768px) {
    .lve p {
        text-align: center;
    }

    .lve a {
        margin: 20px auto;
        display: table;
    }

    .lve img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #333 !important;
    padding: 0 0 30px 0;
    color: #444444;
    font-size: 14px;
    background: #f1f6fe;
}

#footer .support-banner {
    padding: 50px 0;
    background: #22a1f0;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

#footer .support-banner h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}

#footer .support-banner form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

#footer .support-banner form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .support-banner form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #106eea;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .support-banner form input[type="submit"]:hover {
    background: #0d58ba;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #333;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 24px;
    margin: 0 0 15px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
    color: #106eea;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #d7d7d7;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #8d8d8d;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    /*list-style: none;*/
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-position: inside;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #106eea;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    #footer .footer-top .footer-links ul li {
        display: block;
        margin-bottom: -12px;
    }
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #d7d7d7;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #106eea;
}

#footer .footer-top .social-links a {
    border: .1em solid #d7d7d7 !important;
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-top: 25px;
    margin-right: 15px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #3b8af2;
    color: #fff;
    text-decoration: none;
}

#footer .footer-copyright {
    /*background: #333;*/
}

#footer .copyright {
    float: left;
    font-size: 12px;
    color: #d7d7d7;
}

ul.logo-bank {
    padding: 0;
}

ul.logo-bank li {
    width: 8%;
    float: left;
    margin-right: 6px;
    list-style: none;
}

#footer .payment-text {
    margin-top: 10px;
    color: #777;
}

#footer .btn-chat {
    border: 2px solid #fff !important;
    color: #fff !important;
    padding: 6px 25px !important;
    border-radius: 50px;
}

#footer .btn-chat {
    border: 2px solid #fff !important;
    color: #fff !important;
    padding: 6px 25px !important;
    border-radius: 35px;
}

@media (max-width: 768px) {

    #footer .copyright,
    #footer .footer-top,
    #footer .footer-links,
    #footer .footer-contact {
        margin-top: 20px;
        float: none;
        text-align: center !important;
        padding: 2px 0;
    }

    ul.logo-bank {
        padding-left: 30px !important;
    }

    ul.logo-bank li {
        width: 20%;
    }
}