<section class="laravel">
    <div class="container" data-aos="fade-up">
        <div class="title">
            <h2>Mendukung Penuh Framework Laravel.</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda.</p>
                <ul>
                    <li><i class="bi bi-check check-background"></i> Install Laravel <strong>1 klik</strong> dengan Softaculous Installer.</li>
                    <li><i class="bi bi-check check-background"></i> Mendukung ekstensi <strong>PHP MCrypt, phar, mbstring, json,</strong> dan <strong>fileinfo.</strong></li>
                    <li><i class="bi bi-check check-background"></i> Tersedia <strong>Composer</strong> dan <strong>SSH</strong> untuk menginstal packages pilihan Anda.</li>
                </ul>
                <span>Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</span>
                <a class="btn btn-info-lg" href="#">Pilih Hosting Anda</a>
            </div>
            <div class="col-md-6">
                <img src="assets/img/svg/illustration banner support laravel hosting.svg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>