<section class="limit-php">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h3>Powerful dengan dengan Limit PHP yang Lebih Besar</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped" style="float: right;">
                    <tbody>
                        <tr>
                            <td><i class="bi bi-check check-background"></i></td>
                            <td class="text-center">max execution time 300s</td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-check check-background"></i></td>
                            <td class="text-center">max execution time 300s</td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-check check-background"></i></td>
                            <td class="text-center">php memory limit 1024 MB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><i class="bi bi-check check-background"></i></td>
                            <td class="text-center">post max size 128 MB</td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-check check-background"></i></td>
                            <td class="text-center">upload max filesize 128 MB</td>
                        </tr>
                        <tr>
                            <td><i class="bi bi-check check-background"></i></td>
                            <td class="text-center">max input vars 2500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="divider"></div>