<section class="lve">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Linux Hosting yang Stabil dengan Teknologi LVE</h2>
                <p> SuperMicro <strong>Intel Xeon 24-Cores</strong> server dengan RAM <strong>128 GB</strong> dan teknologi <strong>LVE CloudLinux</strong> untuk stabilitas server Anda. Dilengkapi dengan <strong>SSD</strong> untuk kecepatan <strong>MySQL</strong> dan caching, Apache load balancer berbasis LiteSpeed Technologies, <strong>CageFS</strong> security, <strong>Raid-10</strong> protection dan auto backup untuk keamanan website PHP Anda. </p>
                <a class="btn btn-info-lg" href="#">Pilih Hosting Anda</a>
            </div>
            <div class="col-md-6">
                <img src="assets/img/images/Image support.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>