<section class="container" id="section-1">
    <div class="row container">
        <div class="col-md-6">
            <h1 class="font-bold">PHP Hosting</h1>
            <h2>Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</h2>
            <ul>
                <li><i class="bi bi-check check-background"></i> Solusi PHP untuk performa query yang lebih cepat.</li>
                <li><i class="bi bi-check check-background"></i> Konsumsi memory yang lebih rendah.</li>
                <li><i class="bi bi-check check-background"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</li>
                <li><i class="bi bi-check check-background"></i> Fitur enkripsi IonCube dan Zend Guard Loaders</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="assets/img/svg/illustration banner PHP hosting-01.svg" alt="" class="img-responsive">
        </div>
    </div>
</section>