<section id="php-modul">
    <div class="container">
        <div class="title">
            <h2>Modul Lengkap Untuk Menjalankan Aplikasi PHP Anda.</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li>IcePHP</li>
                    <li>apc</li>
                    <li>apcu</li>
                    <li>apm</li>
                    <li>ares</li>
                    <li>bcmath</li>
                    <li>bcompiler</li>
                    <li>big_int</li>
                    <li>bitset</li>
                    <li>bloomy</li>
                    <li>bz2_filter</li>
                    <li>clamav</li>
                    <li>coin_acceptor</li>
                    <li>crack</li>
                    <li>dba</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>http</li>
                    <li>huffman</li>
                    <li>idn</li>
                    <li>igbinary</li>
                    <li>imagick</li>
                    <li>imap</li>
                    <li>included</li>
                    <li>inotify</li>
                    <li>interbase</li>
                    <li>intl</li>
                    <li>ioncube_loader</li>
                    <li>ioncube_loader_4</li>
                    <li>jsmin</li>
                    <li>json</li>
                    <li>ldap</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>nd_pdo_mysql</li>
                    <li>oauth</li>
                    <li>oci8</li>
                    <li>odbc</li>
                    <li>opcache</li>
                    <li>pdf</li>
                    <li>pdo</li>
                    <li>pdo_dblib</li>
                    <li>pdo_firebid</li>
                    <li>pdo_mysql</li>
                    <li>pdo_odbc</li>
                    <li>pdo_pgsql</li>
                    <li>pdo_sqlite</li>
                    <li>pgsql</li>
                    <li>phalcon</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>stats</li>
                    <li>stem</li>
                    <li>stomp</li>
                    <li>suhosin</li>
                    <li>sybase_ct</li>
                    <li>sysvmsg</li>
                    <li>sysvsem</li>
                    <li>sysvshm</li>
                    <li>tidy</li>
                    <li>timezonedb</li>
                    <li>trader</li>
                    <li>translit</li>
                    <li>uploadprogress</li>
                    <li>url_template</li>
                    <li>uuid</li>
                </ul>
            </div>
            <span class="text-center">
                <a href=""><strong>Selengkapnya</strong></a>
            </span>
        </div>
    </div>
</section>