<section id="section-2">
    <div class="container">
        <div class="row php-feature">
            <div class="col-md-3">
                <div class="image-box">
                    <img src="assets/img/images/zendguard.png" alt="" class="img-responsive">
                    <p>PHP Zend Guard Loader</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="image-box">
                    <img src="assets/img/images/composer.png" alt="" class="img-responsive">
                    <p>PHP Composer</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="image-box">
                    <img src="assets/img/images/iconbube.png" alt="" class="img-responsive">
                    <p>PHP ionCube Loader</p>
                </div>
            </div>
        </div>
    </div>
</section>