<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h3 class="font-bold">Paket Hosting Singapura yang Tepat</h3>
            <h4>Diskon 40% + Domain dan SSL Gratis untuk Anda</h4>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h3>Bayi</h3>
                    <h6>Rp <span id="old-price-1">xxx</span></h6>
                    <h4 id="new-price-1">xxx</h4>
                    <p><strong>938</strong> Pengguna Terdaftar</p>
                    <ul>
                        <li class="highlight-desc"><strong>0.5X RESOURCE POWER</strong></li>
                        <li><strong>500 MB</strong> Disk Space</li>
                        <li><strong>Unlimited</strong> Bandwitdh</li>
                        <li><strong>Unlimited</strong> Databases</li>
                        <li><strong>1</strong> Domain</li>
                        <li><strong>Instan</strong> Backup</li>
                        <li><strong>Unlimited SSL</strong> Gratis Selamanya</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Pilih Sekarang</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box">
                    <h3>Pelajar</h3>
                    <h6>Rp <span id="old-price-2">xxx</span></h6>
                    <h4 id="new-price-2">xxx</h4>
                    <p><strong>4.198</strong> Pengguna Terdaftar</p>
                    <ul>
                        <li class="highlight-desc"><strong>1X RESOURCE POWER</strong></li>
                        <li><strong>Unlimited</strong> Disk Space</li>
                        <li><strong>Unlimited</strong> Bandwitdh</li>
                        <li><strong>Unlimited</strong> POP3 Email</li>
                        <li><strong>Unlimited</strong> Databases</li>
                        <li><strong>10</strong> Addon Domains</li>
                        <li><strong>Instan</strong> Backup</li>
                        <li><strong>Domain</strong> Gratis Selamanya</li>
                        <li><strong>Unlimited SSL</strong> Gratis Selamanya</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Pilih Sekarang</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 featured-ribbon" data-aos="fade-up" data-aos-delay="300">
                <div class="box featured">
                    <div class="highlight">
                        <h3>Personal</h3>
                        <h6>Rp <span id="old-price-3">xxx</span></h6>
                        <h4 id="new-price-3" style="color: #fff !important; border: none;">xxx</h4>
                        <p><strong>10.017</strong> Pengguna Terdaftar</p>
                    </div>
                    <ul>
                        <li class="highlight-desc"><strong>2X RESOURCE POWER</strong></li>
                        <li><strong>Unlimited</strong> Disk Space</li>
                        <li><strong>Unlimited</strong> Bandwitdh</li>
                        <li><strong>Unlimited</strong> POP3 Email</li>
                        <li><strong>Unlimited</strong> Databases</li>
                        <li><strong>Unlimited</strong> Addon Domains</li>
                        <li><strong>Instan</strong> Backup</li>
                        <li><strong>Domain</strong> Gratis Selamanya</li>
                        <li><strong>Unlimited SSL</strong> Gratis Selamanya</li>
                        <li><strong>Private</strong> Name Server</li>
                        <li><strong>SpamAssasin</strong> Mail Protection</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Pilih Sekarang</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                    <h3>Bisnis</h3>
                    <h6>Rp <span id="old-price-4">xxx</span></h6>
                    <h4 id="new-price-4">xxx</h4>
                    <p><strong>3.552</strong> Pengguna Terdaftar</p>
                    <ul>
                        <li class="highlight-desc"><strong>3X RESOURCE POWER</strong></li>
                        <li><strong>Unlimited</strong> Disk Space</li>
                        <li><strong>Unlimited</strong> Bandwitdh</li>
                        <li><strong>Unlimited</strong> POP3 Email</li>
                        <li><strong>Unlimited</strong> Databases</li>
                        <li><strong>Unlimited</strong> Addon Domains</li>
                        <li><strong>Instan</strong> Backup</li>
                        <li><strong>Domain</strong> Gratis Selamanya</li>
                        <li><strong>Unlimited SSL</strong> Gratis Selamanya</li>
                        <li><strong>Private</strong> Name Server</li>
                        <li><strong>Prioritas</strong> Layanan Support</li>
                        <li><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></li>
                        <li><strong>SpamExpert</strong> Pro Mail Protection</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Diskon 40%</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Pricing Section -->