<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h3>Semua Paket Hosting Sudah Termasuk</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <img src="assets/img/svg/icon PHP Hosting_PHP Semua Versi.svg" alt="" class="img-responsive">
                    <h4>PHP Semua Versi</a></h4>
                    <p>Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <img src="assets/img/svg/icon PHP Hosting_My SQL.svg" alt="" class="img-responsive">
                    <h4>MySQL Versi 5.6</h4>
                    <p>Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <img src="assets/img/svg/icon PHP Hosting_CPanel.svg" alt="" class="img-responsive">
                    <h4>Panel Hosting cPanel</h4>
                    <p>Kelola website dengan panel canggih yang familiar di hati Anda.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <img src="assets/img/svg/icon PHP Hosting_garansi uptime.svg" alt="" class="img-responsive">
                    <h4>Garansi Uptime 99.9%</h4>
                    <p>Data center yang mendukung kelangsungan website Anda 24/7.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <img src="assets/img/svg/icon PHP Hosting_InnoDB.svg" alt="" class="img-responsive">
                    <h4>Database InnoDB Unlimited</h4>
                    <p>Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <img src="assets/img/svg/icon PHP Hosting_My SQL remote.svg" alt="" class="img-responsive">
                    <h4>Wildcard Remote MySQL</h4>
                    <p>Mendukung s/d 25 max_user_connections dan 100 max_connections</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divider"></div>
<!-- End Services Section -->