<section class="share section-bg">
    <div class="container" data-aos="fade-left">
        <div class="row">
            <div class="col-md-6 text-center">
                <p><b>Bagikan jika Anda menyukai halaman ini.</b></p>
            </div>
            <div class="col-md-6 social-media">
                <img src="assets/img/facebook.png" style="max-width: 30px"><span>80k</span>
                <img src="assets/img/google-plus.png" style="max-width: 30px"><span>450</span>
                <img src="assets/img/twitter.png" style="max-width: 30px"><span>1900</span>
            </div>
        </div>
    </div>
</section>